@import './nav.scss';

// Variable overrides first
//$primary: #900;
$enable-shadows: true;
//$prefix: "mo-";

// Then import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: sans-serif;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.number {
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}
