.search__container {
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.25s ease-in-out;
    padding: 0.5rem;
}

.search__container--hidden {
    transform: translateY( 100% );
}

.checklist-table__row--highlight td {
    background-color: $secondary;
}
